*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: georgia; serif;
}

header {
    padding: 10px 10px 10px 10px;
    background-color: dimgray;
}

header h1 {
    font: size 40px;
    display: inline;
    text-decoration: underline;
    text-decoration-color: tomato;
    margin: 0px;
    color: white;
}

header nav {
    float: right;
    margin: 0px 0px 0px 0px;
    color: white;
   
}

header nav ul li {
    display: inline;
    text-decoration: underline;
    text-decoration-color: tomato;
    font-size: 30px;
}

header a {
    text-decoration: underline;
    text-decoration-color: tomato;
    color: white;
    
}

header nav :hover {
   color: tomato;
   text-decoration: underline;
   text-decoration-color: tomato ;
}

/* profile pic about me */
.about-me {
    margin: 100px 100px 100px 100px;
}

.about-me {
    margin: 25px 10px 30px 10px;
    padding: 10px 15px 20px 0px;
    text-align: center;
    ;
}

.about-me h2 { 
    margin: 5px 0 0px 10px;
    text-decoration:underline;
    text-decoration-color: black;
    flex-basis: auto;
}

.profile-pic img {
    width: 25%;
    float: left;
    border-radius: 16%;
    padding: 5px;
    margin: 10px 0 0 10px;
    background-color: dimgray;
}


/*Projects */
.project-container {
    position: relative;
    padding: 40px 10px 60px 10px;
    
}

.project-container h2 {
  text-align: center;
  text-decoration: underline;
  flex-basis: auto;
  padding-bottom: 5px;
}

.project-item img {
    height: 25%;
    width: 25%;
    border-radius: 15%;
    padding: 5px;
    background-color: tomato;
    position: relative;
    margin: 15px 0px -3px 20px;
    flex-shrink: 25%;
    flex-grow: 25%;
    flex-direction: row;
}

.project-item a img:hover {
   background-color: dimgray;
}




/*footer */

footer{
    padding: 10px 15px 20px 25px;
    background-color: dimgray;

}